{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Затулкин Владимир Александрович</h2>
      <p class="lead">врач-стоматолог-терапевт, врач-стоматолог-хирург, врач-стоматолого-ортопед, генеральный директор</p>
    </div>
    <div class="col-md-5">
        <img src="{% static 'images/pexels-bakytzhan-baurzhanov-9951395.jpg' %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" type="image/svg+xml" width="500" height="500" />
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Маракина Ольга Анатольевна</h2>
      <p class="lead">врач ортодонт</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{% static 'images/pexels-anna-morgan-12374352.jpg' %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" type="image/svg+xml" width="500" height="500" />
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Бездудная Ирина Владимировна</h2>
      <p class="lead">медицинская сестра</p>
    </div>
    <div class="col-md-5">
        <img src="{% static 'images/pexels-bakytzhan-baurzhanov-9951395.jpg' %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" type="image/svg+xml" width="500" height="500" />
    </div>
</div>

{% endblock content %}





