<hr class="featurette-divider">
<div class="container">
    <div class="row mb-3 text-center">
        <div class="col-md-8 themed-grid-col">
            <div class="row">
                <div class="col-md-8 themed-grid-col">
                    <h3>Контакты</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 themed-grid-col">
                    <h3 class="mb-0">
                        <a href="tel:+78121234567" role="link">
                            <i class="bi bi-telephone">
                                +7 (812) 123-45-67
                            </i>
                        </a>
                    </h3>
                </div>
                <div class="col-md-6 themed-grid-col"></div>
            </div>
            <div class="row">
                <div class="col-md-6 themed-grid-col">
                    <h3 class="mb-0">
                        <a href="tel:+78121234567" role="link">
                            <i class="bi bi-telephone">
                                +7 (812) 123-45-67
                            </i>
                        </a>
                    </h3>
                </div>
                <div class="col-md-6 themed-grid-col"></div>
            </div>
            <div class="row">
                <div class="col-md-6 themed-grid-col">
                    <h3 class="mb-0" style="font-size: 18px;">
                        Улица красивая, самый левый домик, парадная 12
                    </h3>
                </div>
                <div class="col-md-6 themed-grid-col"></div>
            </div>
        </div>
        <div class="col-6 col-md-4 themed-grid-col"><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa8483ca8d0dbbedf06863465b7238dcbcf710063c97eb81efa6165553c0ac72a&amp;source=constructor" width="500" height="400" frameborder="0"></iframe></div>
      </div>
    
</div>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2023 Стоматология "Клиника доктора Володьки"</span>
      </div>
    </footer>
  </div>