<nav class="py-2 bg-body-tertiary border-bottom" style="padding-top: 2.5rem!important;">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2 active" style="font-size: 1.5rem;" aria-current="page">Главная</a></li>
      <li class="nav-item"><a href="/about" class="nav-link link-body-emphasis px-2" style="font-size: 1.5rem;">О нас</a></li>
      <li class="nav-item"><a href="/contacts" class="nav-link link-body-emphasis px-2" style="font-size: 1.5rem;">Контакты</a></li>
      <li class="nav-item"><a href="/doctors" class="nav-link link-body-emphasis px-2" style="font-size: 1.5rem;">Врачи</a></li>
      <li class="nav-item"><a href="/cost" class="nav-link link-body-emphasis px-2" style="font-size: 1.5rem;">Стоимость</a></li>
      <li class="nav-item"><a href="/appointment" class="nav-link link-body-emphasis px-2" style="font-size: 1.5rem;">Записаться на приём</a></li>
    </ul>
  </div>
</nav>
<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav nav-pills">
      <li class="nav-item px-2">
        <a href="tel:+79817912180" role="link" class="btn btn-secondary">+7 (981) 791-21-80</a>
      </li>
      <li class="nav-item px-2">
        <a href="email:drzatulkin@yandex.ru" role="link" class="btn btn-secondary">drzatulkin@yandex.ru</a>
      </li>
    </ul>
  </div>
</header>