<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Отправить заявку на приём</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Ваше имя</label>
        </div>
        <div class="form-floating mb-3">
          <input type="phone" class="form-control rounded-3" id="floatingInput" placeholder="+79998887766">
          <label for="floatingInput">Ваш номер телефона</label>
        </div>
        <div class="form-floating mb-3">
          <input type="date" class="form-control rounded-3" id="floatingInput" placeholder="25.05">
          <label for="floatingInput">Желаемая дата</label>
        </div>
        <div class="form-floating mb-3">
          <input type="time" class="form-control rounded-3" id="floatingInput" placeholder="13:00">
          <label for="floatingInput">Желаемое время</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Отправить заявку</button>
      </div>
    </div>
  </div>
</div>