{% extends "base.html" %}
{% load static %}
  
{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Как с нами связаться</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">ООО «Славная клиника докторы Володьки»</p>
      <p class="lead mb-4">Санкт-Петербург 190123, ул.самая красивая, дом самый опрятный, 2а</p>
      <p class="lead mb-4">График работы: Пн-суб.  9:00 — 21:00 ,  Вск. 10:00 — 19:00
      <p class="lead mb-4">
        <a href="tel:+78121234567" role="link">
            <i class="bi bi-telephone">
                +7 (812) 123-45-67
            </i>
        </a>
      </p>
      <p class="lead mb-4">
        <a href="tel:+78121234567" role="link">
            <i class="bi bi-telephone">
                +7 (812) 123-45-67
            </i>
        </a>
      </p>

        
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa8483ca8d0dbbedf06863465b7238dcbcf710063c97eb81efa6165553c0ac72a&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
        

      <p class="lead mb-4">Эл. почта: vdentura@yandex.ru</p>
      <p class="lead mb-4">Мы в соц. сетях: https://vk.com/vdentura</p>
    </div>
  </div>

{% endblock content %}